/* Light */
.common-container {
    position: absolute;
    left: 30%;
    top: 15%;
}

.base-container {
    margin-left: 30%;
    margin-top: 15%;
    width: 343px;
    height: 245px;
    padding: 20px;

    /* System Background / Light / Primary */
    background: #FFFFFF;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
}

.blu-text {
    color: dodgerblue;
    font-weight: bolder;
}

.year {
    list-style-type: none;
    /*height: 52px;*/
    margin-bottom: 3px;
    background: linear-gradient(0deg, rgba(245, 245, 245, 0.6), rgba(245, 245, 245, 0.6));

    /* Large (Default) / Title 3 */
    font-family: SF Pro Display, serif;
    font-style: normal;
    font-weight: normal;
    /* or 120% */
    text-align: center;
    letter-spacing: 0.38px;
    padding-top: 3px;
    padding-bottom: 3px;

    /* Label Color / Light / Primary */
    color: #000000
}

/* Light / Notification Action / Single */
.year:hover {
    background: linear-gradient(0deg, rgba(225, 225, 225, 0.6), rgba(225, 225, 225, 0.6));
}

#years-popup {
    position: fixed;
    left: 30%;
    top: 20%;
    width: 180px;
    height: 200px;
    padding-right: 20px;
    overflow: scroll;

    /* System Background / Light / Primary */
    background: #FFFFFF;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
}

.month-days {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.day-num {
    margin: 5px 10px;
}

tr {
    height: 10px;

}

th, td {
    text-align: center;
}

.xbtn-x {
    width: 321px;
    /*height: 52px;*/
    margin-bottom: 3px;
    align-content: center;
    background: linear-gradient(0deg, rgba(200, 200, 200, 0.6), rgba(200, 200, 200, 0.6));

    /* Large (Default) / Title 3 */
    font-family: SF Pro Display, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    /* or 120% */
    text-align: center;
    letter-spacing: 0.38px;
    padding-top: 10px;
    padding-bottom: 10px;

    /* Label Color / Light / Primary */
    color: #000000
}

.xbtn:hover {
    background: linear-gradient(0deg, rgba(232, 232, 232, 0.6), rgba(228, 228, 228, 0.6));
}

.xbtn-x:hover {
    background: linear-gradient(0deg, rgba(180, 180, 180, 0.6), rgba(180, 180, 180, 0.6));
}

.top-btns {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.back-btn {
    align-content: flex-start;


    background: #FFFFFF;
}

.done-btn {
    align-content: flex-end;

    background: #FFFFFF;
}


/* Light */
.how-old-container {
    width: 343px;
    height: 245px;
    padding: 20px;

    /* System Background / Light / Primary */
    background: #FFFFFF;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
}

.how-old-result {
    font-family: SF Pro Display, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 24px;
    /* or 69% */
    display: flex;
    align-items: center;
    text-align: center;
    margin: 5px;
    letter-spacing: 0.38px;

    color: #000000;
}

.num-text {
    font-family: SF Pro Display, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 24px;

    text-align: center;
    letter-spacing: 0.38px;
    margin: 5px 40px;

    color: #000000;
}

.num-text-m {
    font-family: SF Pro Display, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 24px;

    text-align: center;
    letter-spacing: 0.38px;
    margin: 20px 10px;

    color: #000000;
}

.num-text-d {
    font-family: SF Pro Display, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

    letter-spacing: 0.38px;
    margin: 8px 8px;

    color: #000000;
}

.numbers-container {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 5px 20px;
}

.numbers-container-d {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 5px 20px;
}

.delete-btn {
    height: 100%;
    width: auto;
    margin: 10px 35px;
}

.timing {
    font: 24pt monospace;
}